<h1>Welcome to the YouTube Game.</h1>

<h2>This is a special error page.</h2>

<p>Please email <a href="mailto:jayqui@outlook.com">Jay</a> with the message, "In the YouTube Game, Sinatra is working but Angular isn't being triggered."</p>