<h1>YouTube Search Game</h1>

<h3>Today's random words:</h3>

<div class="words-list"></div>

<div class="instructions">
	<h3>Drag <b>one or more</b> below to search YouTube with.</h3>

	<b><h3>Try for <u><i>the highest average (median) number of views</i></u>!*</h3></b>
	<p><small>* out of 10 results</small></p>
</div>

<div class="droppable">Search YouTube:</div>

<!-- <form action="https://www.youtube.com/results">
	<label>Search YouTube</label>
	<input type="text" name="search_query" placeholder="search...">
	<input type="submit" value="Search YouTube">
</form> -->

<form method="get" action="#/game">
	<input type="hidden" name="query">
	<input type="submit" value="Search!">
</form>

<!-- <br>
<p>Confused?  Check out the examples below:</p>

<div class="video-example">
	<br>
	example 1:<br>
	<img src="https://pbs.twimg.com/profile_images/378800000532546226/dbe5f0727b69487016ffd67a6689e75a.jpeg" style="width: 200px;">
</div>

<div class="video-example">
	<br>
	example 2:<br>
	<img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" style="width: 200px;">
</div>
 -->