<!DOCTYPE html>
<html ng-app="youTubeApp">
  <head>
    <meta charset="UTF-8" />
    <title>The YouTube Game</title>

    <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/application.css">

    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/SIMPLE_WORDS.js"></script>
    <script src="js/application.js"></script>
  </head>
  
  <body>
    <input type="hidden" id="did-user-hit-back-button" value="no">
		<div class="inner-shell" data-ng-view="">
			<%= yield %>
		</div>
	</body>
</html>